{% extends "shared/layout.html" %}

{% block title %}Home - Odon Mulambo{% endblock %}

{% block content %}
<div class="row-1">
    <div class="left-column">
        <img src="../static/main/images/odon.jpeg" alt="self photo" loading="lazy">
    </div>
    <div class="right-column">
        <p>
            <span style="font-size: 3rem;">Odon M. Mulambo</span>, a passionate Software Engineer
            with a background in Computer Science Engineering from Michigan State University. I specialize in
            full-stack development, scalable systems, and cloud computing. With experience in React, Node.js,
            AWS, and databases like MongoDB and PostgreSQL, I build efficient, impactful solutions for global
            users. From web applications to AI-driven projects, I thrive on tackling complex challenges and
            optimizing performance.
        </p>

    </div>
</div>
<div class="divider"></div>
<div class="row-2">
    <h2 style="text-align: center;">Fun fact about Me:</h2>
    <p style="text-align: center;">I once built a pedestrian collision avoidance system that
        reduced collision risks by 95% in simulations—because saving virtual lives is a good
        start! 🚀
    </p>
</div>
{% endblock %}
