{% extends "shared/layout.html" %}

{% block title %}Home - Odon Mulambo{% endblock %}

{% block content %}
<div class="row-1">
    <div class="left-column">
        <img src="../static/main/images/odon.jpeg" alt="self photo" loading="lazy">
    </div>
    <div class="right-column">
        <h1 style="font-size: 3rem; font-weight: bold;">Odon Mulambo</h1>
    <p>
        I am a passionate <strong>Software Engineer</strong> with a strong foundation in 
        <strong>full-stack development, scalable systems, and cloud technologies</strong>. 
        With a <em>Bachelor’s degree in Computer Science Engineering from Michigan State University</em>, 
        I have gained hands-on experience in <strong>Python, C++, Java, JavaScript, React, Node.js, Flask, and AWS</strong>.
    </p>

    <p>
        I have successfully designed and deployed <strong>dynamic web applications</strong>, 
        built <strong>scalable data pipelines</strong>, and developed <strong>real-time processing systems</strong>. 
        Notably, I contributed to a <strong>job posting platform that increased user engagement by 30%</strong>, 
        led a <strong>financial literacy app project for Ally</strong>, and engineered a 
        <strong>Pedestrian Collision Avoidance System</strong> that reduced accident risks by 95% in simulations.
    </p>

    <p>
        Beyond technical expertise, I thrive in <strong>collaborative and agile environments</strong>, 
        applying <strong>leadership and problem-solving skills</strong> as a <strong>Resident Assistant.</strong> 
    </p>

    <p>
        Driven by the challenge of solving <strong>real-world problems through innovative technology</strong>, 
        I continuously seek opportunities to expand my skill set while making a meaningful impact.
    </p>
    </div>
</div>
<div class="divider"></div>
<div class="row-2">
    <h2 style="text-align: center;">Fun fact about Me:</h2>
    <p style="text-align: center;">I once built a pedestrian collision avoidance system that
        reduced collision risks by 95% in simulations—because saving virtual lives is a good
        start! 🚀
    </p>
</div>
{% endblock %}
