{% extends "shared/layout.html" %}

{% block title %}Projects - Odon Mulambo{% endblock %}

{% block content %}
<div class="right-top">
    <h2 style="text-align: center;">Below is a list of projects I worked on:</h2>
    <p style="text-align: center;">Click an image, or hyperlink in the description to learn more</p>
</div>
<div class="divider"></div>
<div class="row-1">
    <div class="left-column">
        <a href="/piano">
            <img src="../static/main/images/piano.jpeg" alt="piano">
        </a>
    </div>
    <div class="right-column">
        <h4 style="text-align: center;">Javascript Piano</h4>
        <p style="text-align: center;">This project displays piano created using CSS,HTML, and javascript. When the words
            "We see you" are typed one after another it will display an image of "The Great One"</p>
    </div>
</div>
<div class="divider"></div>
<div class="row-2">
    <h3 style="text-align: center;">
        More Coming Soon
    </h3>
</div>
{% endblock %}